<h1>Notice of Non-Affiliation and Disclaimer</h1>

<div>
  <p>
    This application is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Mailgun, or any of its subsidiaries or its affiliates. The official Mailgun website can be found at <a href="https://mailgun.com">https://mailgun.com</a>.
  </p>
  <p>
    The name Mailgun as well as related names, marks, emblems and images are registered trademarks of their respective owners.
  </p>
</div>
