<h1>Edit account</h1>
<%= render "form.html", action: account_path(@conn, :update, @account), changeset: @changeset, conn: @conn %>
<br />
<%= link "delete", to: account_path(@conn, :delete, @account), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
