<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jack + Joe">
    <meta name="version" content="<%= Application.spec(:mailgun_logger, :vsn) %>">
    <meta name="env" content="<%= Application.get_env(:mailgun_logger, :env) %>">
    <title>Mailgun Logger v<%= Application.spec(:mailgun_logger, :vsn) %></title>
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/assets/images/favicon.png") %>" />
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/css/style.css") %>">
    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>" />
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/js/custom.js") %>"></script>
  </head>
  <body>
